<header>
    <div>
        <div>
	    	<nav class="nav-bar">
	    		<ul class="flex-row">
	    			  <li role="presentation"><a href="/">Home</a></li>
					  <li role="presentation"><a href="/products">Products</a></li>
					  <li role="presentation"><a href="/orders">Orders</a></li>
					  <li role="presentation"><a href="/admin">Admin</a></li>
				</ul>
	    	</nav>
	    </div>
	</div>
</header>