body, html {
	font-family: 'Hind Guntur', sans-serif;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
	justify-content: center;
}

.hide {
	display: none;
}

header {
	justify-content: flex-end;
	width: 100%;
	height: 100px;
	background-color: #0091FF;
}



header .nav-bar > ul{
	margin-right: 20px;
}

header .nav-bar li {
	align-self: flex-end;
	list-style: none;
	padding: 10px;
}

header .nav-bar li a {
	color: white;
	text-decoration: none;

}

header .nav-bar li a:hover, header .nav-bar li a:focus {
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


.product-tile {
	width: 30%;
	padding: 30px;
	max-width: 350px;
	background-color: #0091FF;
	margin: 20px;
	color: #fff;
	border-radius: 30px;
}

.product-tile > img {
	width: 100%;
	border-radius: 30px;
}