<div>

  {{#if products.data }}
    {{#each products.data}}
    	<img src="{{image}}" alt="">
        <h3>{{ name }}</h3>
        <p>{{ description }}</p>
        <p>{{ price }}</p>
    {{/each}}
  {{/if }}
</div>